.navigationBarContainer {
  margin: 0 auto;
}

.navigationBar {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.navItem {
  list-style: none;
}

.navLink {
  font-weight: normal;
  text-decoration: none;
}

.navLink:hover:not(.active) {
  text-shadow:
    0 0 1px currentcolor,
    0 0 2px currentcolor;
}

.navLink.active {
  font-weight: bold;
  text-decoration: underline;
}

.navLink.active:hover {
  cursor: default;
}
