.draftSurveyContainer {
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.draftMainDimensions {
  border: 1px solid #00f;
  width: 100%;
}

.draftSurveyInitial,
.draftSurveyFinal {
  border: 1px solid #00f;
  flex: 1;
}

.draftSurveyResultContainer {
  width: 100%;
}
